/* RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/********************* App CSS *********************/
.appContainer {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 75%;
    border: 1px solid grey;
    background-color: lightgrey;
}

h2 {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
    padding: 1% 0;
    text-shadow: 1px 3px 4px rgb(73, 72, 72);
    background-color: rgb(253, 232, 162)
}

.contentWrapper {
    width: 80%;
    margin: 10px auto;
    border: 2px solid rgb(204, 187, 187);
    border-radius: 4px;
    box-shadow: 0px 5px 7px 1px black;
    background-color: rgb(253, 232, 162)
}

.todoList {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1.8px solid white;

}

.todoItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 17px;
    cursor: pointer;
    padding: 1% 0;
    border-bottom: 1.2px solid white;
}

.todoItem:hover {
    color: rgb(233, 66, 0);
}

.todoForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 0;
}


.formBtn {
    display: flex;
    flex-direction: row;
    width: 32%;
    justify-content: space-between;

}

button {
    height: 35px;
    width: 50%;
    margin: 0.8%;
    border-radius: 4px;
    cursor: pointer;
    background-color: lightgrey;

}

button:hover {
    background: rgb(112, 112, 112);
    font-weight: bold;
}

.todoFormInput {
    height: 25px;
    width: 30%;
    border-radius: 4px;
    margin: 1%;
    padding-left: 10px;
}